<div class="brand_main">
  {% for block in section.blocks %}
  {% if block.type == 'image_picker' %}
  <div class="header_nav_brand" style=" background-color:{{ block.settings.background_header }}; padding-top:{{ block.settings.padding_top }}px; padding-bottom:{{ block.settings.padding_bottom }}px;">
    {% if block.settings.brand_logo != blank %}
    <div class="brand_logo">
      <img src="{{ block.settings.brand_logo | img_url:'master' }}" width="" height="" alt="{{ block.settings.brand_logo.alt }}" />
    </div>
    {% endif %}
    <ul class="header_nav_menu_list">
    {% for link in block.settings.header_menu.links %}
      {% if link.url != blank %} <a href="{{ link.url }}"><li style="color: {{block.settings.font_color_header}};">{{ link.title }}</li></a> {% endif %}
    {% endfor %}
    <li>
      {% if block.settings.cart_icon != blank %}<span style="order:{{ block.settings.position_cart }};">{{ block.settings.cart_icon }}</span> {% endif %}
      {% if block.settings.track_icon != blank %}<span style="order:{{ block.settings.position_track }};">{{ block.settings.track_icon }}</span> {% endif %}
      {% if block.settings.human_icon != blank %}<span style="order:{{ block.settings.position_login }};">{{ block.settings.human_icon }}</span> {% endif %}
    </li>
    </ul>
  </div>
  {% endif %}
  {% if block.type == 'text' %}
    <div class=footer_nav_brand style="background: {{ block.settings.footer_background }}; margin-top: {{ block.settings.margin_top }}px; margin-bottom: {{ block.settings.margin_bottom }}px;">
      {% if block.settings.footer_logo_brd != blank %}
        <div class="footer_brand_logo">
          <img src="{{ block.settings.footer_logo_brd | img_url:'master' }}" width="" height="" alt="{{ block.settings.footer_logo_brd.alt }}"/>
          <p style=" color: {{ block.settings.footer_font_color }}; font-size: {{ block.settings.font_size_footer }}px;">{{ block.settings.address_brand }}</p>
        </div>
      {% endif %}
      <span class="footer_nav_menu_list">
        <ul class="footer_list_1">
        {% for link in block.settings.footer_list1.links %}
          <a href="{{ link.url }}"><li style="color: {{ block.settings.footer_font_color }}; font-size: {{ block.settings.font_size_footer }}px;">{{ link.title }}</li></a>
        {% endfor %}
        </ul>
        <ul class="footer_list_2">
        {% for link in block.settings.footer_list2.links %}
          <a href="{{ link.url }}"><li style="color: {{ block.settings.footer_font_color }}; font-size: {{ block.settings.font_size_footer }}px;">{{ link.title }}</li></a>
        {% endfor %}
        </ul>
        <ul class="footer_list_3">
        {% for link in block.settings.footer_list3.links %}
          <a href="{{ link.url }}"><li style="color: {{ block.settings.footer_font_color }}; font-size: {{ block.settings.font_size_footer }}px;">{{ link.title }}</li></a>
        {% endfor %}
        </ul>
      </span>
      {% if block.settings.contact_detail_footer != blank %}
        <div class="contact_detail">
          <p>{{ block.settings.contact_detail_footer }}</p>
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% endfor %}
</div>
{% schema %}
  {
    "name": "brand_utm",
    "settings": [],
    "blocks": [{
      "type":"image_picker",
      "name":"Header",
      "settings": [
        {
          "type": "range",
          "id": "padding_top",
          "min": 10,
          "max": 80,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 10,
          "max": 80,
          "step": 2,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 16
      },
      {
        "type": "image_picker",
        "id":"brand_logo",
        "label":"Brand Logo"
      },
      {
        "type":"link_list",
        "id":"header_menu",
        "label":"Header Menu List"
      },
      {
        "type":"color",
        "id":"background_header",
        "label":"Background Color Header"
      },
      {
        "type":"color",
        "id":"font_color_header",
        "label":"Font Color Header"
      },
      {
        "type":"html",
        "id":"cart_icon",
        "label": "Cart"
      },
      {
        "type":"text",
        "id":"position_cart",
        "label": "Position of Cart"
      },
      {
        "type":"html",
        "id":"human_icon",
        "label":"Login/Register"
      },
      {
        "type":"text",
        "id":"position_login",
        "label": "Position of Login/Register"
      },
      {
        "type":"html",
        "id":"track_icon",
        "label":"Track icon"
      },
      {
        "type":"text",
        "id":"position_track",
        "label": "Position of Track Order"
      }]
    },
    {
      "type":"text",
      "name":"Footer",
      "settings": [
      {
        "type": "range",
        "id": "margin_top",
        "min": 10,
        "max": 80,
        "step": 2,
        "unit": "px",
        "label": "Margin Top",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 5,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 5
      },
      {
        "type": "color",
        "id":"footer_background",
        "label": "Footer Background Color"
      },
      {
        "type": "color",
        "id":"footer_font_color",
        "label": "Footer Font Color"
      },
      {
        "type": "text",
        "id":"font_size_footer",
        "label": "Footer Font Size"
      },
      {
        "type": "image_picker",
        "id":"footer_logo_brd",
        "label": "Footer Logo Brand"
      },
      {
        "type": "richtext",
        "id":"address_brand",
        "label": "Address Brand"
      },
     {
        "type": "text",
        "id":"position_footer_1",
        "label": "Position Footer 1"
      },
     {
        "type": "link_list",
        "id":"footer_list1",
        "label": "Footer Link 1"
      },
     {
        "type": "text",
        "id":"position_footer_2",
        "label": "Position Footer 2"
      },
     {
        "type": "link_list",
        "id":"footer_list2",
        "label": "Footer Link 2"
      },
     {
        "type": "text",
        "id":"position_footer_3",
        "label": "Position footer 3"
      },
      {
        "type": "link_list",
        "id":"footer_list3",
        "label": "Footer Link 3"
      },
       {
        "type": "text",
        "id":"position_footer_4",
        "label": "Position Footer 4"
      },
      {
        "type": "html",
        "id":"contact_detail_footer",
        "label": "Contact Details"
      },
     {
        "type": "text",
        "id":"position_footer_5",
        "label": "Position Footer 5"
      }]
    }],
    "presets": [{"name":"brand_utm"}]
  }
{% endschema %}

{% style %}
{% for block in section.blocks %}
  /* .header_nav_brand{
    background-color:{{ block.settings.background_header }}; 
    padding-top:{{ block.settings.padding_top }}px;
    padding-bottom:{{ block.settings.padding_bottom }}px;
  } */
  /* .header_nav_menu_list li{
    color: {{block.settings.font_color_header}}
  } */
  /* .footer_nav_brand{ 
    background: {{ block.settings.footer_background }};
    margin-top: {{ block.settings.margin_top }}px;
    margin-bottom: {{ block.settings.margin_bottom }}px;
  } */
  /* .footer_brand_logo p, .footer_nav_menu_list ul li{
    color: {{ block.settings.footer_font_color }};
    font-size: {{ block.settings.font_size_footer }}px;
  } */
{% endfor %}
{% endstyle %}

<style>
  .header_nav_brand{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  .header_nav_menu_list{
    display: contents;
    list-style: none;
  }
  .header_nav_menu_list a{
    text-decoration: none;
  }
  .header_nav_menu_list li:last-child{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }
  .footer_nav_brand, .footer_nav_menu_list{ display:flex; justify-content:space-evenly; }
  .footer_nav_menu_list ul{ width:70%; }
  .footer_nav_menu_list ul a{ text-decoration: none;}
  .footer_nav_menu_list ul li{ list-style: none; padding: 5px 0;}
</style>

<script>
  var paramsLinks = window.location.href;
  console.log(paramsLinks)
  let hostName = 'https://www.indulekha.co.in/';
  var headerAlt = document.querySelectorAll('.brand_logo img');
  // var footerAlt = document.querySelectorAll('.footer_brand_logo img');
  headerAlt.forEach((alt) => {
    var brandurl = alt.getAttribute('alt');
    console.log('url',brandurl)
    // (paramsLinks.includes('utm_source') && paramsLinks.includes('utm_medium')) ? (hostName = window.location.hostname): (hostName = 'Invalid Link')
    // if(paramsLinks.includes('utm_source') && paramsLinks.includes('utm_medium')){
        if(hostName.match(brandurl)){
          console.log('wwww',headerAlt)
          // console.log('match',brandurl)
        }
    // }
  })
  // console.log(footerAlt,'headerAlt',headerAlt)
  // console.log('Brand Name',hostName)
</script>