<div class="brand_main">
  {% for block in section.blocks %}
  {% if block.type == 'image_picker' %}
  <div class="header_nav_brand">
    <div class="brand_logo">
      <img src="{{ block.settings.brand_logo | img_url:'master' }}" width="" height=""/>
    </div>
    <ul class="header_nav_menu_list">
    {% for link in block.settings.header_menu.links %}
      {% if link.url != blank %} <a href="{{ link.url }}"><li>{{ link.title }}</li></a> {% endif %}
    {% endfor %}
    <li>
      {% if block.settings.cart_icon != blank %}<span style="order:{{ block.settings.position_cart }}px">{{ block.settings.cart_icon }}</span> {% endif %}
      {% if block.settings.track_icon != blank %}<span style="order:{{ block.settings.position_track }}px">{{ block.settings.track_icon }}</span> {% endif %}
      {% if block.settings.human_icon != blank %}<span style="order:{{ block.settings.position_login }}px">{{ block.settings.human_icon }}</span> {% endif %}
    </li>
    </ul>
  </div>
  {% endif %}
  {% if block.type == 'text' %}
    <div class=footer_nav_brand>
      <div class="footer_brand_logo">
        <img src="{{ block.settings.footer_logo_brd | img_url:'master' }}" width="" height=""/>
        <p>{{ block.settings.address_brand }}</p>
      </div>
      <span class="footer_nav_menu_list">
        <ul class="footer_list_1">
        {% for link in block.settings.footer_list1.links %}
          <a href="{{ link.url }}"><li>{{ link.title }}</li></a>
        {% endfor %}
        </ul>
        <ul class="footer_list_2">
        {% for link in block.settings.footer_list2.links %}
          <a href="{{ link.url }}"><li>{{ link.title }}</li></a>
        {% endfor %}
        </ul>
        <ul class="footer_list_3">
        {% for link in block.settings.footer_list3.links %}
          <a href="{{ link.url }}"><li>{{ link.title }}</li></a>
        {% endfor %}
        </ul>
      </span>
    </div>
  {% endif %}
  {% endfor %}
</div>
{% schema %}
  {
    "name": "brand_utm",
    "settings": [],
    "blocks": [{
      "type":"image_picker",
      "name":"Header",
      "settings": [
        {
          "type": "range",
          "id": "padding_top",
          "min": 10,
          "max": 80,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 10,
          "max": 80,
          "step": 2,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 16
      },
      {
        "type": "image_picker",
        "id":"brand_logo",
        "label":"Brand Logo"
      },
      {
        "type":"link_list",
        "id":"header_menu",
        "label":"Header Menu List"
      },
      {
        "type":"color",
        "id":"background_header",
        "label":"Background Color Header"
      },
      {
        "type":"color",
        "id":"font_color_header",
        "label":"Font Color Header"
      },
      {
        "type":"html",
        "id":"cart_icon",
        "label": "Cart"
      },
      {
        "type":"text",
        "id":"position_cart",
        "label": "Position of Cart"
      },
      {
        "type":"html",
        "id":"human_icon",
        "label":"Login/Register"
      },
      {
        "type":"text",
        "id":"position_login",
        "label": "Position of Login/Register"
      },
      {
        "type":"html",
        "id":"track_icon",
        "label":"Track icon"
      },
      {
        "type":"text",
        "id":"position_track",
        "label": "Position of Track Order"
      }]
    },
    {
      "type":"text",
      "name":"Footer",
      "settings": [{
        "type": "image_picker",
        "id":"footer_logo_brd",
        "label": "Footer Logo Brand"
      },
      {
        "type": "richtext",
        "id":"address_brand",
        "label": "Address Brand"
      },
     {
        "type": "text",
        "id":"position_footer_1",
        "label": "Position Footer 1"
      },
     {
        "type": "link_list",
        "id":"footer_list1",
        "label": "Footer Link 1"
      },
     {
        "type": "text",
        "id":"position_footer_2",
        "label": "Position Footer 2"
      },
     {
        "type": "link_list",
        "id":"footer_list2",
        "label": "Footer Link 2"
      },
     {
        "type": "text",
        "id":"position_footer_3",
        "label": "Position footer 3"
      },
      {
        "type": "link_list",
        "id":"footer_list3",
        "label": "Footer Link 3"
      },
       {
        "type": "text",
        "id":"position_footer_4",
        "label": "Position Footer 4"
      },
      {
        "type": "html",
        "id":"contact_detail_footer",
        "label": "Contact Details"
      },
     {
        "type": "text",
        "id":"position_footer_5",
        "label": "Position Footer 5"
      }]
    }],
    "presets": [{"name":"brand_utm"}]
  }
{% endschema %}

{% style %}
{% for block in section.blocks %}
  .header_nav_brand{
    background-color:{{ block.settings.background_header }}; 
    padding-top:{{ block.settings.padding_top }}px;
    padding-bottom:{{ block.settings.padding_bottom }}px;
  }
  .header_nav_menu_list li{
    color: {{block.settings.font_color_header}}
  }
{% endfor %}
{% endstyle %}

<style>
  .header_nav_brand{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header_nav_menu_list{
    display: contents;
    list-style: none;
  }
  .header_nav_menu_list a{
    text-decoration: none;
  }
  .header_nav_menu_list li:last-child{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }
  .footer_nav_brand, .footer_nav_menu_list{ display:flex; justify-content:space-evenly; }
  .footer_nav_menu_list ul{ width:70%; }
  .footer_nav_menu_list ul a{ text-decoration: none;}
  .footer_nav_menu_list ul li{ list-style: none; padding: 5px 0;}
</style>

<script>
  // var paramsLinks = window.location.href;
  // console.log(paramsLinks)
  var paramsLinks ='https://www.theushop.in/products/bru-gold-premium-freeze-dried-coffee-experience-intense-coffee-taste-aromatic-instant-coffee-100g?_pos=2&_sid=fd3f83d05&_ss=r&utm_medium=display&utm_source=Facebook%20%2F%20Instagram&utm_campaign=performance_coffee_bru_instant_digital_teach_me_bru_freeze_dried_fb_mar2023_CF0128_BF0141_IN&utm_content=video_SuperSegment&utm_term=SuperSegement';
  let hostName;
  (paramsLinks.includes('utm_source') && paramsLinks.includes('utm_medium')) ? (hostName = window.location.hostname): (hostName = 'Invalid Link')
  console.log('sss',hostName)
</script>