<div class="iplanet_new_main">
  <div class="container_new">
  {% assign blocks = section.blocks %}
    {% for new_block in blocks %}
      {{ new_block.settings.essential_tools }}
    {% endfor %}
    <div class="parent_class">
      <div class="img_block_div">
        {% for Tab_Image in blocks %}
          {% if Tab_Image.settings.tab_image_new != blank %}
            <img class="img_apple" src="{{ Tab_Image.settings.tab_image_new | img_url:"400x" }}" >
          {% endif %}
        {% endfor %}
      </div>
      <div class="opac_text">
        <!-- {% for text_block in blocks %}
          {{ text_block.settings.text_con }}
        {% endfor %}  -->
        
        <div class="content_div">
          <p class="sub_heading">iPad. <span class="background_FFA950">Portable.</span><span class="dash_cyan">Powerful.<svg aria-hidden="true" data-draw-path="" class="dash-illustration" viewBox="0 0 281 15" preserveAspectRatio="none">         <g>             <clipPath id="underline-clip-path">                 <path d="M276.313091,3.20249 L276.678231,3.20249 C279.065081,3.20249 281,5.171841 281,7.601159 C281,10.030478 279.065081,11.999829 276.678231,11.999829 L275.496591,11.999829 C275.285651,11.999829 275.078231,11.984447 274.875371,11.954724 L267.667841,11.654465 L255.545031,11.143322 C212.801301,9.383943 177.543081,8.400874 149.772861,8.194006 L145.379491,8.167386 L141.594211,8.153788 C140.309651,8.150531 139.002271,8.14855 137.672091,8.147844 L130.725421,8.155219 C99.3912711,8.23563 56.7515711,8.948524 2.81021112,10.294003 C2.74165112,10.301174 2.67239112,10.304342 2.60241112,10.304342 L2.31018112,10.304342 C1.03430112,10.304342 0,9.251634 0,7.953053 C0,7.88696 0,7.821503 0.00793112323,7.75679 L0.0164011232,7.830067 C-0.104068877,6.979746 0.449601123,6.192605 1.33238112,5.822722 C1.56982112,5.709173 1.82943112,5.63589 2.10275112,5.611118 L2.31579112,5.600829 L4.19304112,5.428365 L7.18219112,5.162675 C39.7376211,2.334936 83.2546211,0.664999 137.749211,0.149812 L144.692081,0.091069 C152.490231,0.033003 160.049911,0.002525 167.373901,0 L173.388481,0.004312 C215.593441,0.080248 249.713441,1.121736 276.313091,3.20249 Z" style="mix-blend-mode: darken;"></path>             </clipPath>             <path class="underline-path" pathLength="1" d="M6.57,8.17c107.81-3.26,287-.74,291.81-.74"></path>         </g>     </svg></span>Packed with potential.</p>
        </div>
        <div class="content_text_1">
          <p class="sub_text1">Learning <span class="background_FFA950">goes anywhere</span> with iPad. With a lightweight design and up to 10 hours of battery life, it‘s easy to stay connected all day.</p>
        </div>
        <div class="content_text_2">
          <p class="sub_text2"><span class="background_FCF268">Versatile</span> for all types of learning. Sketch and explore ideas. Edit photos and video. Easily design and share assignments. And dive into augmented reality and learning to code.</p>
        </div>
        <div class="content_text3">
          <p class="sub_text3"><span class="background_6BB7FF">iPad is compatible</span> with the apps teachers and students use every day, including those from Google and Microsoft.</p>
        </div>
        <!-- <div class="button_div">
          {% for btn in blocks %}
            <a href="{{ btn.settings.redirect }}"><span class="btn_iplanet">{{ btn.settings.btn_apple }}</span></a>
          {% endfor %}
        </div> -->
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "iplanet CSS",
    "settings": [],
    "blocks":[{
      "type":"text",
      "name":"Heading",
      "settings":[{
        "type":"html",
        "id":"essential_tools",
        "label":"Heading"
      }]
    },
    {
      "type":"image",
      "name":"Pic",
      "settings":[{
        "type":"image_picker",
        "id":"tab_image_new",
        "label":"Image"
      }]
    },
    {
      "type":"textarea",
      "name":"Text Content",
      "settings":[{
        "type":"html",
        "id":"text_con",
        "label":"Text Input content"
      }]
    },
    {
      "type":"html",
      "name":"Button",
      "settings":[{
        "type":"text",
        "id":"btn_apple",
        "label":"Button"
      },
      {
        "type":"url",
        "id":"redirect",
        "label":"Link"
      }]
    }],
    "presets":[{"name":"iplanet CSS"}]
  }
{% endschema %}

<style>
  .iplanet_new_main{
    margin-bottom: 230px;
  }
  .container_new{
    margin: auto;
    width: 50%;
    text-align: center;
  }
  .parent_class{
    position:relative;
    height:800px;
    padding:30px 0;
  }
  .img_block_div, .img_apple{
    width:100%;
  }
  .input1_div h2{
    margin-bottom:0;
  }
  .input1_div .background_light_green, .content_div .background_light_green{
    background: linear-gradient(to right, #86f18d 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: animate 0.7s 2s linear forwards;
    padding: 0 15px;
    border-radius: 20px;
  }
  @keyframes animate {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left bottom;
    }
  }
  .input1_div .incredible_posibilities{
    color:#1d1d1f;
    font-size: 35px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
  }
  .mac_input_div p{
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
  }
  .content_div .background_FFA950{
    background: linear-gradient(to right, #FF8CBD 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: pink 0.7s 2s linear forwards;
    padding: 0 10px;
    border-radius: 20px;
  }
  @keyframes pink{
    from {
       background-position: right bottom;
    }
    to{
       background-position: left bottom;
    }
  }
  .mac_text_1, .mac_text_2, .mac_text_3{
    color:#1d1d1f;
    font-size: 35px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
  }
  .content_div .dash_cyan{
    position:relative;
  }
  .content_div .dash-illustration{
    position: absolute;
    width: 0%;
    fill: cyan;
    left: 0;
    bottom: -19px;
    height: 35px;
    animation: dash1 0.7s 2s linear forwards;
  }

  @keyframes dash1{
    from{
      width:0%;
    }
    to{
      width:100%;
    }
  }
  .content_div .sub_heading{
    color:#1d1d1f;
    font-size: 50px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    margin:0;
    padding:0 90px;
  }
  .content_div .mac_heading{
    color:#1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    margin:0;
    padding:0 90px;
  }
  .img_block_div{
    position:sticky;
    top:0;
    margin-bottom: 10%;
    z-index:2;
  }
  .content_text_1 p{
    color:#1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    margin:90px 0;
  }
  .content_text_1 .background_FFA950{
    background: linear-gradient(to right, #FFA950 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: orange 0.7s 2s linear forwards;
    padding: 0 10px;
    border-radius: 20px;
  }
  @keyframes orange{
    from{
      background-position: right bottom;      
    }
    to{
      background-position: left bottom;
    }
  }
  .content_text_2 p{
    color:#1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    margin-bottom:70px;
  }
  .content_text_2 .background_FCF268{
    background: linear-gradient(to right, #FCF268 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: lime 0.7s 2s linear forwards;
    padding: 0 10px;
    border-radius: 20px;
  }
  @keyframes lime{
    from{
        background-position: right bottom;
    }
    to{
        background-position: left bottom;
    }
  }
  .content_text3 p{
    color:#1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
  }
  .content_text3 .background_6BB7FF{
    background: linear-gradient(to right, #6BB7FF 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: blue 0.7s 2s linear forwards;
    padding: 0 10px;
    border-radius: 20px;
  }
  @keyframes blue{
    from {
       background-position: right bottom;
    }
    to{
       background-position: left bottom;
    }
  }
 .text_div_3 .background_purple{
    background: linear-gradient(to right, #B494FF 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: purple 0.7s 2s linear forwards;
    padding: 0 15px;
    border-radius: 20px;
  }
  @keyframes purple{
    from {
       background-position: right bottom;
    }
    to{
       background-position: left bottom;
    }
  }
  .opac_text{
    overflow-y: auto;
    height: 200px;
    /* position:absolute; */
  }
  .opac_text::-webkit-scrollbar{
    display:none;
  }
  .content_div, .content_div1, .content_div2{
    overflow-y:scroll;
  }
  .content_div::-webkit-scrollbar, .content_div1::-webkit-scrollbar, .content_div2::-webkit-scrollbar {
    display:none;
  }
  .button_div{
    width: 40%;
    margin: auto;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    padding: 18px 31px;
    border-radius:30px;
    border:1px solid #000;
  }
  .button_div:hover{
    background:#000000;
  }
  .button_div a{
    text-decoration:none;
    color:#000000;
  }
   .button_div a:hover{
     color:#ffffff;
   }
@media screen and (max-width: 767px){
  .container_new{
    width:80%;
  }
  .content_div .sub_heading, .content_text_1 p, .content_text_2 p{
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    padding:0;
  }
}
  
</style>

<script>
  var heading_text = document.querySelector(".input1_div");
  window.addEventListener("scroll", () => {
    var high = window.pageYOffset;
    heading_text.style.opacity = 1 - high/140; 
    // console.log(high);
  });

  var slide = document.querySelector(".opac_text");
  var text1 = slide.querySelector(".sub_heading");
  var text2 = slide.querySelector(".sub_text1");
  var text3 = slide.querySelector(".sub_text2");
  var text4 = slide.querySelector(".sub_text3");
  // var txt = document.querySelector(".text_div_3");
  // console.log("Scrolll",txt.scrollTop);
  
  slide.addEventListener("scroll", () => {
    var scrollPosition = slide.scrollTop;
    // console.log(scrollPosition);
    if (scrollPosition < 220) {
      text1.style.opacity = 1 - scrollPosition / 140;
      // text1.style.transform = matrix(1, 0, 0, 1, 0, 0);
    }
    if (scrollPosition >= 240 && scrollPosition < 350) {
      text2.style.opacity = 1 - (scrollPosition - 280) / 70;
    }
    if (scrollPosition >= 350 && scrollPosition < 550) {
      text3.style.opacity = 1 - (scrollPosition - 470) / 70;
    }
    // if (scrollPosition >= 550) {
    //   text4.style.opacity = 1 - (scrollPosition - 600) / 80;
    // }
  });
</script>