<div class="main_why_pewox">
  <div class="content_why_pewox">
    <div class="left_why_pewox">
      {% for block in section.blocks %}
        <img class="img_left_pewox" src="{{ block.settings.pewox_img_1 | img_url:"master" }}">
      {% endfor %}
    </div>
    <div class="right_why_pewox">
      <div class="img_top_right_why_pewox">
        {% for block in section.blocks %}
          <img class="img_right_top_pewox" src="{{ block.settings.pewox_img_2 | img_url:"master" }}">
        {% endfor %}
      </div>
      <div class="heading_right_pewox">
        <p class="heading_class_pewox">{{ section.settings.heading_pewox }}</p>
      </div>
      <div class="description_right_pewox">
        <p class="description_class_pewox">{{ section.settings.text_pewox }}</p>
      </div>
      {% for block in section.blocks %}
        {% for new_block in block %}
          <div class="thumbnail_svg">
            <div class="sub_thumbnail_svg">
              <img class="class_sub_thumbnail" src="{{ block.settings.pewox_svg_1 | img_url:"master" }}">
              <img class="class_sub_thumbnail" src="{{ block.settings.pewox_svg_2 | img_url:"master" }}">
              <img class="class_sub_thumbnail" src="{{ block.settings.pewox_svg_3 | img_url:"master" }}">
            </div>
            <div class="text_below_svg">
              <p class="class_text_below_svg">{{ block.settings.pewox_text_1 }}</p>
              <p class="class_text_below_svg">{{ block.settings.pewox_text_2 }}</p>
              <p class="class_text_below_svg">{{ block.settings.pewox_text_3 }}</p>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "pewox_design",
    "settings": [{
      "type":"text",
      "id":"heading_pewox",
      "label":"Heading"
    },
    {
      "type":"textarea",
      "id":"text_pewox",
      "label":"Description"
    }],
    "blocks":[{
      "type":"image_picker",
      "name":"Pick",
      "settings":[{
        "type":"image_picker",
        "id":"pewox_img_1",
        "label":"Image Left"
      },
      {
        "type":"image_picker",
        "id":"pewox_img_2",
        "label":"Image Right"
      },
      {
        "type":"image_picker",
        "id":"pewox_svg_1",
        "label":"SVG 1"
      },
      {
        "type":"image_picker",
        "id":"pewox_svg_2",
        "label":"SVG 2"
      },
      {
        "type":"image_picker",
        "id":"pewox_svg_3",
        "label":"SVG 3"
      },
      {
        "type":"text",
        "id":"pewox_text_1",
        "label":"Text 1"
      },
      {
        "type":"text",
        "id":"pewox_text_2",
        "label":"Text 2"
      },
      {
        "type":"text",
        "id":"pewox_text_3",
        "label":"Text 3"
      }]
    }],
    "presets":[{"name":"pewox_design"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}