<!-- Quickview feature -->
<div class="quick-box" id="quick-pop">
  <div class="quick-cut">
    <span class="quick-close">X</span>
  </div>
  <div class="quick-text-box">
    
    
    <div class="view-img">
      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
    </div>
    <div class="view-box">
    <h3>{{ product.title }}</h3>
     <p>Price:{{ product.price |money_without_trailing_zeros }}</p>
      
<!--       <button class="quicAdd">Add to card</button> -->
<!--   Add to cart button -->
  <form method="post" action="/cart/add">
  <input name="id" value="{{ product.variants.first.id }}" type="hidden" />
  <input name="add" value="Add to cart" type="submit" class="quickAdd" />
</form>
    </div>

    </div>
 </div>

  <style>
.quick-box {
  width: 700px;
  Height:500px;   
  background-color:red;
  position: fixed;
  top: 25%;
  left: 15%;
  z-index:999 !important;
  display:none;
  padding-bottom:30px;
  }
.quick-cut{
  width:95%;
  margin:0 auto;
  text-align: right;
  color: #fff;
  font-size: 2rem;
  padding-right: 10px;
  padding-top: 10px;
  overflow:hidden;
  }  
.quick-text-box{
  width: 90%;
  display:flex;
  margin: 0 auto;
  background: #fff;
  padding: 2%;
  font-size: 16px;
  overflow:hidden;
  border-radius:20px;
    }
    .view-img{
      width:50%;
    
    }
    .view-box{
      width:50%;
      color:black;
    }
    .quickAdd{
     background-color: lightblue;
    width: 60%;
    border: none;
    padding: 13px;
    border-radius: 10px;
    outline: none;
      cursor: pointer;
    }
    .view-img img {
    width: 52%;
    overflow: hidden;
    }
    .quick-close{
      background-color: red;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
    }
  </style>
 
  <script>
  var btn=document.querySelectorAll(".quick-close");
  btn.forEach((butn) => {
    butn.addEventListener('click',function(){
     this.closest('.quick-box').style.display="none";
    });
  });
</script>



