<div class="main_traya_slider">
  <div class="content_traya_slider">
    {% assign collection = section.settings.collection_product %}
    {% for product in collection.products %}
      <div class="grid_traya_slider">
        <div class="image_div_traya_slider">
          <img class="image_traya_slider" src="{{ product.metafields.custom.image | img_url:"master"}}">
        </div>
        <div class="position">
          <div class="container_traya_slider">
            <div class="section_heading_traya_slider">
              <p class="heading_traya_slider">{{ product.title }}</p>
              <!-- <img class="batch_slider_traya" src="{{ block.settings.tag  | img_url:"master"}}"> -->
            </div>
            <p class="advantage_li">{{ block.settings.list_item_text }}</p>
            <div class="Collection_traya">
              {% assign data = block.settings.collection_product %}
            </div>
            <div class="ingredients_div">
              {% for meta in product.metafields.custom.bottom_meta.value %}
                <div class="div_img1">
                  <img class="image_ingredients_div" src="{{ meta.image | img_url:"master"}}">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Traya Slider",
  "settings": [
    {
      "type":"collection",
      "id":"collection_product",
      "label":"Collection"
    }
  ],
  "blocks":[{
    "name":"PICK",
    "type":"Text",
    "settings":[{
      "type":"image_picker",
      "id":"main_img1",
      "label":"Main Image"
    },
    {
      "type":"image_picker",
      "id":"tag",
      "label":"Batch"
    },
    {
      "type":"text",
      "id":"Heading_text",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"list_item_text",
      "label":"Advantages"
    },
    {
      "type":"image_picker",
      "id":"Ingredients_image1",
      "label":"Ingredients Image1"
    },
    {
      "type":"image_picker",
      "id":"Ingredients_image2",
      "label":"Ingredients Image2"
    },
    {
      "type":"image_picker",
      "id":"Ingredients_image3",
      "label":"Ingredients Image3"
    }
    ]
  }],
  "presets":[{"name":"Traya Slider"}]
}
{% endschema %}

<style>
    .main_traya_slider{
      width:100%;
    }
    .main_traya_slider .content_traya_slider{
      width:90%;
      margin:auto;
      display:flex;
      background: #FFF6F5;
    }
    .main_traya_slider .grid_traya_slider{
      width:30%;
      margin:0px 10px;
      position:relative;
    }
    .image_div_traya_slider{
      width:100%;
    }
    .image_traya_slider{
      z-index:2;
      position:relative;
      width:100%;
    }
    .position{
      background: #ffffff;
      position: relative;
      height: 35vh;
      z-index: 1;
      bottom: 100px;
    }
    .main_traya_slider .container_traya_slider{
      background: #ffffff;
      position: absolute;
      z-index: 1;
      padding: 50px 10px 20px 10px;
      border-radius: 6px;
      width: 100%;
    }
    .main_traya_slider .container_traya_slider .heading_traya_slider{
      font-family:Nunito Sans;
      font-weight:700;
      font-size:17px;
      line-height:23.19px;
      text-align:center;
    }
    .main_traya_slider .section_heading_traya_slider{
      display:flex;
      justify-content:center;
    }
    .advantage_li{
      font-size:12px;
      font-weight:400;
    }
    .main_traya_slider .ingredients_div{
      display: flex;
      justify-content: space-between;
    }
  .main_traya_slider .ingredients_div img{
    width:100%;
  }
    @media only screen and (max-width: 1199.98px) and (min-width: 992px) {

    }
    @media only screen and (max-width: 991px) and (min-width: 768px) {

    }
</style>

<script>
    $(document).ready(function(){
    $('.content_traya_slider').slick({
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 1,
      autoPlay:false,
      speed:2500,
      dots: true
  });
</script>
