<div class="main_3_scientific">
  <div class="conetnt_scientific">
    <div class="heading_traya_scientific">
      <h3>{{ section.settings.heading_scientific }}</h3>
    </div>
    <div class="passage_traya_scientific">
      <p>{{ section.settings.passage_scientific }}</p>
    </div>
    <div class="btn_traya_scientific">
      {% for block in section.blocks %}
       <a class="collection_link" tab="{{ forloop.index }}" href="{{ block.settings.Link_url }}" style="text-decoration:none">
        <div class="btn_collection">
          <span>{{ block.settings.collection_name }}</span>
          <p>{{ block.settings.Collection_heading }}</p>
        </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="main_traya_slider">
  <div class="content_traya_slider">
    {% for combo in section.blocks %}
    {% assign collection = combo.settings.collection_product %}
        <p>{{ collection.title | json }}</p>
      {% for product in collection.products %}
      <div class="grid_traya_slider" tab="{{ forloop.index }}">
        <div class="image_div_traya_slider">
          <img class="image_traya_slider" src="{{ product.metafields.custom.image | img_url:"master"}}">
        </div>
        <div class="position">
          <div class="container_traya_slider">
            <div class="section_heading_traya_slider">
              <p class="heading_traya_slider">{{ product.title }}</p>
            </div>
            <div class="ingredients_div">
              {% for meta in product.metafields.custom.bottom_meta.value %}
                <div class="div_img1">
                  <img class="image_ingredients_div" src="{{ meta.image | img_url:"master"}}">
                </div>
              {% endfor %}
            </div>
            <div class="dosage_div">
              <p>{{ product.metafields.custom.dosage }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Traya_scientific",
  "settings": [{
    "type":"text",
    "id":"heading_scientific",
    "label":"Heading"
  },
  {
    "type":"textarea",
    "id":"passage_scientific",
    "label":"Content"
  }],
  "blocks":[{
    "name":"Collection Button",
    "type":"text",
    "settings":[{
      "type":"html",
      "id":"collection_name",
      "label":"Icon SVG"
    },
    {
      "type":"text",
      "id":"Collection_heading",
      "label":"Collection Heading"
    },
    {
      "type":"collection",
      "id":"collection_product",
      "label":"Collection"
    }]
  }],
  "presets":[{"name":"Traya_scientific"}]
}
{% endschema %}

<style>
  .main_3_scientific{
    width:100%;
    margin:40px 0;
  }
  .conetnt_scientific{
    width:50%;
    margin:auto;
  }
  .heading_traya_scientific{
    text-align:center;
  }
  .heading_traya_scientific h3{
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

  }
  .passage_traya_scientific p{
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #989898;
    padding:0 60px;
  }
  .btn_traya_scientific{
    display:flex;
    justify-content:space-evenly;
  }
  .btn_collection{
    display: flex;
    flex-direction: column;
    background:#EEEEEE;
    padding:10px 30px;
    border-radius:8px;
  }
  .btn_collection span,.btn_collection p{
    text-align:center;
    color:#BE6C5D;
    margin:0;
  }
  .clr_svg svg path{ 
    fill:#EEEEEE;
    stroke:#EEEEEE;
  }
  .clr_text p{
    color:#EEEEEE; 
  } 
  .clr_background{
    background:#BE6C5D;
  }
/* Slider Part CSS Below */
  .main_traya_slider{
    width:100%;
  }
  .main_traya_slider .content_traya_slider{
    width:90%;
    margin:auto;
    display:flex;
    background: #FFF6F5;
  }
  .main_traya_slider .grid_traya_slider{
    width:30%;
    padding:0px 25px;
    position:relative;
  }
  .image_div_traya_slider{
    width:100%;
  }
  .image_traya_slider{
    z-index:2;
    position:relative;
    width:100%;
  }
  .position{
    background: #ffffff;
    position: relative;
    height: 250px;
    z-index: 1;
    bottom: 100px;
    box-shadow: 0px 5px 8px 0px #00000014;
  }
  .main_traya_slider .container_traya_slider{
    background: #ffffff;
    position: absolute;
    z-index: 1;
    padding: 50px 10px 20px 10px;
    border-radius: 6px;
    width: 100%;
    bottom:0;
  }
  .main_traya_slider .container_traya_slider .heading_traya_slider{
    font-family:Nunito Sans;
    font-weight:700;
    font-size:17px;
    line-height:23.19px;
    text-align:center;
    color: #3F3F3F;
  }
  .main_traya_slider .section_heading_traya_slider{
    display:flex;
    justify-content:center;
  }
  .advantage_li{
    font-size:12px;
    font-weight:400;
  }
  .main_traya_slider .ingredients_div{
    display: flex;
    justify-content: space-around;
  }
  .main_traya_slider .ingredients_div img{
    width:100%;
  }
.content_traya_slider .slick-list.draggable{
  padding-right:140px;
}
  .slick-dots li.slick-active button:before{
    font-size:10px;
    color:#be6c5d;
  }
  .slick-dots{
    bottom:70px;
  }
  .dosage_div p{
    font-family: Nunito Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
  @media only screen and (max-width: 1199.98px) and (min-width: 992px) {
    .conetnt_scientific{
      width:100%;
    }
    /* .position{
      height:50vh;
      bottom:60px;
    } */
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
/* Dektop */
    .conetnt_scientific{
      width:100%;
    }
    .main_traya_slider .grid_traya_slider{
      padding:0 10px;
    }
    .content_traya_slider .slick-list.draggable{
      padding-right:20px;
    }
    /* .position{
      height: 50vh;
      bottom: 75px;
    } */
  }
  @media only screen and (max-width: 767.98px) and (min-width: 576px) {
    /* Tablet */
    .conetnt_scientific{
      width:100%;
    }
    .main_traya_slider .grid_traya_slider{
      padding:0 20px;
    }
    .content_traya_slider .slick-list.draggable{
      padding-right:20px;
    }
  }
@media only screen and (max-width: 575.98px) {
  .slick-dots li.slick-active button:before{
    font-size:8px;
  }
  .main_traya_slider .grid_traya_slider{
    padding:0 10px;
  }
  .content_traya_slider .slick-list.draggable{
    padding-right:20px;
  }
  .conetnt_scientific{
      width:100%;
  }
  .btn_collection{
    padding: 10px 20px;
  }
  .main_traya_slider .ingredients_div{
    justify-content:space-evenly;
  }
  /* .position{
    height: 300px;
    bottom:100px;
  } */
}
@media only screen and (max-width: 400px) {
  .btn_collection{
    padding: 10px 15px;
  }
}
</style>

<script>
  $(document).ready(function(){
  $('.content_traya_slider').slick({
    infinite: true,
    slidesToShow: 3,
    dots: true,
    responsive:[{
      breakpoint:768,
      settings:{
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint:576,
      settings:{
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }]
  });
});
  
  var color_btn = document.querySelectorAll(".btn_collection");
  color_btn.forEach((item) => {
    item.addEventListener("click", () => {
     item.classList.add("clr_svg");
      item.classList.add("clr_text");
      item.classList.add("clr_background");
      color_btn.forEach((btn) => {
        btn.classList.remove("clr_svg");
        btn.classList.remove("clr_text");
        btn.classList.remove("clr_background");
        item.classList.add("clr_svg");
        item.classList.add("clr_text");
        item.classList.add("clr_background");
      });
    });
  });

  var collection_btn = document.querySelectorAll(".collection_link");
  var each_btn = document.querySelector(".collection_link").getAttribute("tab");
  collection_btn.forEach((item) => {
    item.addEventListener("click", ()=> {
      console.log("each_btn");
    });
  });
</script>